a {
    color: #d11f58b7;
    margin: 10px 20px;
    text-decoration: none;
    font-size: 20px;
}

body {
    margin: 0px;
    text-align: center;
}

h1 {
   line-height: 2;
   font-size: 562.5%;
   margin: 50px auto 0 auto;
   font-family: 'Sacramento', cursive;
   color: #409494;
}

h2 {
    font-weight: normal;
    font-size: 2.5rem;
    color: #409494;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    line-height: 2;
    color:#11999E;
}

hr {
    border-style: dotted none none;
    height: 0;
    width: 4%;
    border-width: 5px;
    border-color:#a6b4b4;
}
a:hover {
     color: #0e2823;
}
.bottom-container {
    background-color:    #21ad91;
    margin: 100px 0 0;
    padding: 50px 0 10px;
}

.btn {
    
        background: #60b1e8;
        background-image: -webkit-linear-gradient(top, #60b1e8, #2a89c4);
        background-image: -moz-linear-gradient(top, #60b1e8, #2a89c4);
        background-image: -ms-linear-gradient(top, #60b1e8, #2a89c4);
        background-image: -o-linear-gradient(top, #60b1e8, #2a89c4);
        background-image: linear-gradient(to bottom, #60b1e8, #2a89c4);
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        font-size: 16px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
      }
      
      .btn:hover {
        background: #3cfcec;
        background-image: -webkit-linear-gradient(top, #3cfcec, #21ad91);
        background-image: -moz-linear-gradient(top, #3cfcec, #21ad91);
        background-image: -ms-linear-gradient(top, #3cfcec, #21ad91);
        background-image: -o-linear-gradient(top, #3cfcec, #21ad91);
        background-image: linear-gradient(to bottom, #3cfcec, #21ad91);
        text-decoration: none;
      }

.copyright {
    margin-top: 50px;
    font-size: 15px;
    color: aliceblue;
}
.contact {
    line-height: 4;
}

.intro {
    width: 30%;
    margin: auto;
}

.middle-container {
    margin: 100px 0 0;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.top {
    background-color: rgb(151, 225, 200);
    position: relative;
    padding: 50px;
    
}
.top-cloud {
    position: absolute;
    right:250px;
    top:30px;  
}
.bottom-cloud {
    position: absolute;
    bottom: 300px;
}
.mountain {
    position:relative;
    top:55px;
    
}
.video-editing {
    width: 30%;
    float: left;
    margin-right: 30px;
}
.Graphics-Design {
    width: 30%;
    float: right;
    margin-left: 30px;
}